@using BlazorWasmPortfolioGhAction.Models

<h1 class="text-center text-primary">Blazor + EF Core + SQLite + WebAssembly</h1>

@if (!string.IsNullOrEmpty(_alertMessage))
{
    <div class="alert alert-@_alertType" role="alert">
        @_alertMessage
    </div>
}

<div class="text-center my-3">
    <strong>SQLite Version: </strong> <span class="badge bg-info">@_version</span>
    <p />
    <button class="btn btn-primary" @onclick="@(async () => await SQLiteVersion())">Check SQLite Version</button>
</div>
<hr />

<div class="card p-3">
    <h4>Add New Car</h4>
    <div class="mb-3">
        <label for="brand" class="form-label">Brand:</label>
        <input type="text" id="brand" class="form-control" @bind="_newBrand" />
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price:</label>
        <input type="number" id="price" class="form-control" @bind="_newPrice" />
    </div>
    <button class="btn btn-success" @onclick="@(async () => await Create(new Car { Brand = _newBrand, Price = _newPrice }))">Add Car</button>
</div>
<hr />

<div>
    <h4>Car List</h4>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in _cars)
            {
                <tr>
                    <td>@car.Id</td>
                    <td>
                        <input type="text" @bind="car.Brand" class="form-control" />
                    </td>
                    <td>
                        <input type="number" @bind="car.Price" class="form-control" />
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm" @onclick="@(async () => await Update(new Car { Id = car.Id, Brand = car.Brand, Price = car.Price }))">
                            <span>
                                <img src="sqlite/check.png" width="24" height="24" />
                            </span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(async () => await Delete(car.Id))">
                            <span>
                                <img src="sqlite/rubbish-bin.png" width="24" height="24" />
                            </span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@functions
{
    private string _newBrand = "no brand";
    private int _newPrice = 999;
}