<div class="diagram-panel-parameter-wrapper">
    <div class="diagram-panel-parameter-label-and-value-wrapper">
        <label class="diagram-panel-parameter-text-input-label">@Label</label>
        <input type="@InputHtmlType"
               class="diagram-panel-parameter-text-input"
               value="@Value"
               @oninput="@OnValueChanged" />
    </div>
    <ValidationMessage For="@ValudationMessgeFor" />
</div>